.linearGradient(@stop1:0, @color1:#ccc, @stop2:50%, @color2:#ddd, @stop3:100%, @color3:#ccc){
    background-color:@color2;
    background:-webkit-gradient(linear, left bottom, left top, color-stop(@stop1, @color1), color-stop(@stop2, @color2), color-stop(@stop3, @color3));
    background:-moz-linear-gradient(left bottom, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background:-ms-linear-gradient(left bottom, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background:-o-linear-gradient(left bottom, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background:linear-gradient(left bottom, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    -pie-background: linear-gradient(@color1, @color2, @color3);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", @color1, @color3));
}

.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.buttonset-height (@height){

    label.ui-button{
        height: @height;
    }

    span.ui-button-text{
        line-height: (@height / 2px);
    }
}


.common-link{
    width: 250px;
    margin-right: 50px;
    display: inline-block;
    text-align: center;
    color: #000;
    font-size: 22px;

    .linearGradient(0, #fff, 100%, #b9e8fa);
    .border-radius(7px);

    height: 40px;
    line-height: 40px;

    border: 0 none;

    &:hover{
        text-decoration: none;
    }
}

.common-button{
    text-align: center;
    padding: 4px 15px;

    .border-radius(7px);

    color: #fff;
    font-size: 16px;

    background: #33bef2;
    border: 0 none;

    &:hover{
        background: #1fcbf0;
        text-decoration: none;
    }

    &:disabled{
        background: #cfcfcf;
    }
}


.left-float{float:left;}
.right-float{float:right;}

p.error{
    color: red;
}


input:focus, textarea:focus, select:focus {
    border: 1px solid red !important;
}


* {
    margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

#wrapper{
    padding-bottom: 120px;
}

div.content{
    width: 900px;
    margin: 0 auto;
}

input[type=text]
{
    border: 1px solid black;
    height: 25px;
}

textarea{
    border: 1px solid black;
}

input[type=submit], button, a.button-link{
    .common-button;

}

a.button-link{
    padding-top: 5px;
    padding-bottom: 5px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}

/*---------------------------------------------------------------
    Header
--------------------------------------------------------------- */

#header{
    width: 100%;
    background: url('img/small-logo.png') no-repeat 15px center #4f4b4c;
    height: 25px;
}

#header .time{
    float: right;
    display: block;
    padding: 1px 10px 0 0;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
}

/* --------------------------------------------------------------
 Footer
-------------------------------------------------------------- */

#footer-wr {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#footer-wr #footer-logo{
    height: 56px;
    width: 207px;
    margin: 0 auto 14px auto;
    background: url('img/footer-logo.jpg');
}


#footer {
    background: url('img/small-logo.png') no-repeat 15px center #a7a6a6;
    width: 100%;
    height: 30px;
    position: relative;
}

#footer .copyright{
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
    font-size: 14px;
    padding-top: 6px;
}

#footer .username{
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

/*-------------------------------------------------------------------------------------------------
    Navigation
-------------------------------------------------------------------------------------------------*/

.nav{
    margin: 30px 0 0 25px;
}

.nav .row{
    margin-bottom: 40px;
}

.nav a{
    width: 250px;
    margin-right: 50px;
    display: inline-block;
    text-align: center;
    color: #000;
    font-size: 22px;

    .linearGradient(0, #fff, 100%, #b9e8fa);
    .border-radius(7px);

    height: 40px;
    line-height: 40px;
}
.nav a.center{margin-left: 300px;}
.nav a.last{margin-right: 0;}

.nav a:hover{
    text-decoration: none;
    .linearGradient(0, #fff, 100%, #59a1fa);
}

/*----------------------------------------------------------------------------------------------------------
    Page header
----------------------------------------------------------------------------------------------------------*/

#page-header-wr{
    height: 180px;
    width: 100%;
    border-bottom: 5px solid #918f8f;
    margin-bottom: 60px;
}

#page-header{
    height: 100%;
    width: 800px;
    margin: 0 auto;
}

#page-header .home-link{
    display: block;
    float: left;
    margin: 15px 0 0 10px;
}

#page-header .page-path{
    padding: 20px 0 0 500px;
}

#page-header .page-path li, #page-header .page-path a {
    width: 250px;
    text-align: center;
    color: #000;
    font-size: 22px;

    .linearGradient(0, #fff, 100%, #b9e8fa);
    .border-radius(7px);

    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
}

#page-header .page-path a:hover{
    text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------------------
    Result page
----------------------------------------------------------------------------------------------------------------*/

.result-page h3.block-header {
    margin-bottom: 8px;
}

.result-page .persons-block .sex {
    text-transform: uppercase;
    width: 40px;
    display: inline-block;
    padding-left: 5px;
}

.result-page .item-list {
    margin-top: 15px;
}

.result-page .item-list .voucher-button{
    float: right;

}

.result-page .item-list span.header {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
}

.result-page .item-list hr {
    margin: 10px 0;
}

.result-page .flight-block {
    margin-top: 15px;
}

.result-page .bottom-block {
    margin-top: 25px;
    border-top: 1px solid black;
    padding-top: 15px;
}

.result-page .bottom-block .price-table {
    display: block;
    border: 1px solid black;
}

.result-page .bottom-block .price-table tr{
    height: 15px;
}

.result-page .bottom-block .price-table td {
    width: 75px;
    text-align: right;
    padding: 1px 3px;
    font-size: 13px;
}

.result-page .bottom-block .price-table td.param{
    border-right: 1px solid black;
    width: 150px;
}

.result-page .bottom-block .price-table tr.underline{
    border-bottom: 1px solid black;
}

.result-page .bottom-block .price-table tr.up td{
    font-weight: bold;
    font-size: 15px;
}

.result-page .bottom-block .price-table tr.empty td{
    border-bottom: 1px solid black;
}

.result-page .bottom-block .price-buttons{
    margin-top: 15px;
}

.result-page .person .num{
    display: block;
    float: left;
}

.result-page .person .input{
    float: left;
    margin-left: 10px;
}

.result-page .person .person-name{
    width: 250px;
}

.result-page .comment-block{
    margin-top: 10px;
    width: 600px;
}

.result-page .comment-block textarea{
    width: 100%;
    height: 100px;
}

.result-page .bottom-block .address-block{
    width: 600px;
    margin-top: 15px;
}

.result-page #stage{
    margin-top: 15px;
}

.result-page .mail-block{
    margin-top: 15px;
}

.result-page .mail-block .left{
    display: inline-block;
    width: 120px;
}

.result-page .anzahlung-block{
    margin-top: 15px;
}

.result-page .anzahlung-block label{
    font-weight: bold;
    width: 150px;
    display: inline-block;
    margin-top: 10px;
}

.result-page .item-list .item{
    margin-top: 10px;
}

/*----------------------------------------------------------------------------------------------------------------
    Status page
----------------------------------------------------------------------------------------------------------------*/

#status-page{
    width: 500px;
    margin: 0 auto;
}

#status-page .item{
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 4px;
}

#status-page .item-edit{
    display: none;
    margin-top: 10px;
    border-top: 1px solid black;
    padding-top: 5px;
}

#status-page .item-edit label.input-header{
    font-weight: bold;
    display: block;
}

#status-page .item-edit textarea{
    width: 98%;
    height: 50px;
}

#status-page .item-edit span.error{
    color: #ff0000;
    padding-left: 2px;
    font-weight: bold;
    display: none;
}


#status-page .status-log{
    display: none;
    margin-top: 10px;
    border-top: 1px solid black;
    padding-top: 10px;
}

#status-page .status-log .log{
    border-bottom: 1px dotted #0d000a;
    padding: 5px 0;
}

#status-page .status-log .log .date{
    width: 210px;
    display: inline-block;
}

#status-page .status-log .log .path{
    font-weight: bold;
    font-size: 14px;
}

#status-page .status-log .log .user{
    text-align: right;
    display: inline-block;
    width: 190px;
}

#status-page .status-log button{
    margin-top: 15px;
}


#status-page .item-info .num{
    font-weight: bold;
}

#status-page .status .value{
    font-weight: bold;
}

#status-page .status .buttons{
    float: right;
}

/*----------------------------------------------------------------------------------------------------------------
    Payments page
----------------------------------------------------------------------------------------------------------------*/

#payment-page{
    width: 500px;
}

#payment-page .payments-list{
    width: 500px;
    margin: 0 auto 15px 0;
    border: 1px solid black;
    border-collapse: separate;
    padding: 4px;
}

#payment-page .payments-list caption{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

#payment-page .payments-list .total-amount{
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
}

#payment-page .payments-list .total-amount-value{
    font-weight: bold;
}


#payment-page .newpayment-block{
    width: 500px;
    margin: 0 auto 15px 0;
}

#payment-page .newpayment-block label{
    display: block;
    font-weight: bold;
}

#payment-page .newpayment-block input#payment-value{
    float: left;
    margin-right: 15px;
}

/*------------------------------------------------------------------------------------------------------------
    Dashboard
-------------------------------------------------------------------------------------------------------------*/

#dashboard-page #header-logo
{
    background: url('img/header-logo.jpg');
    width: 395px;
    height: 146px;
    margin: 50px auto 0 auto;
}



/*-----------------------------------------------------------------------------------------------------------
    Kundenverwaltung
-----------------------------------------------------------------------------------------------------------*/

#kundenverwaltung-page .nav{
    margin: 100px 0 100px 0;
}

#kundenverwaltung-page .nav .row{
    margin-bottom: 100px
}

/*-----------------------------------------------------------------------------------------------------------
    Kundenverwaltung rasdel
-----------------------------------------------------------------------------------------------------------*/

.kundenverwaltung-page .buttons button, .kundenverwaltung-page .buttons a, .kundenverwaltung-page .buttons input[type=submit]{
    float: left;
    margin-left: 15px;
}


.kundenverwaltung-rasdel .left-block{
    float: left;
    width: 250px;
}

.kundenverwaltung-rasdel  .left-block .search-block{

}

.kundenverwaltung-rasdel  .left-block .search-block label{
    .common-link;
    margin-bottom: 5px;
}

.kundenverwaltung-rasdel  .left-block .search-block input[type=text]{
    display: block;
    width: 98%;
    margin-bottom: 4px;
}

.kundenverwaltung-rasdel  .left-block .search-block .search-button{
    float: right;
}

.kundenverwaltung-rasdel  .left-block .new-button{
    .common-link;
    margin-top: 40px;
}

.kundenverwaltung-rasdel  .list-block{
    float: left;
    margin-left: 150px;
}

.kundenverwaltung-rasdel  .list-block .list-header{
    .common-link;
    margin-bottom: 5px;
}

.kundenverwaltung-rasdel  .list-block .list .item{
    border: 1px solid #ccc;
    position: relative;
    width: 300px;
    margin-top: 5px;
}

.kundenverwaltung-rasdel .list-block .list .item .text{
    color: #777777;
    display: block;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
    width: 275px;
    font-size: 16px;
    float: left;
}

.kundenverwaltung-rasdel  .list-block .list .item .arrow{
    display: block;
    float: right;
    margin: 10px 0 0 0;
    width: 5px;
    font-size: 10px;
}

.kundenverwaltung-rasdel  .list-block .list .submenu{
    position: absolute;
    left: 300px;
    top: -1px;
    display: none;
    padding-left: 10px;
}

.kundenverwaltung-rasdel .list-block .list .item:hover .submenu{display:block;}

.kundenverwaltung-rasdel .list-block .list .submenu a{
    display: block;
    text-decoration: none;
    color: #777;
    background: #fff;
    padding: 5px;
    width: 100px;
    margin-top:1px;
    border: 1px solid #ccc;
}

.kundenverwaltung-rasdel .list-block .list a:hover, .list-block .list .item:hover .text{
    background: none repeat scroll 0 0 #F9F9F9;
    color: #E2144A;
}


/*--------------------------------------------------------------------------------------------------------
    Kundenverwaltung new item
--------------------------------------------------------------------------------------------------------*/


.kundenverwaltung-new  {
    width: 510px !important;
}

.kundenverwaltung-new .param, .kundenverwaltung-new .view-param {
    margin-top: 10px;
    clear: both;
}

.kundenverwaltung-new .param input.plz {
    width: 55px;
}

.kundenverwaltung-new .param input.ort {
    width: 299px;
}

.kundenverwaltung-new .param input[type=radio] {
    width: auto !important;
}

.kundenverwaltung-new .param label, .kundenverwaltung-new .view-param label {
    font-weight: bold;
    width: 131px;
    display: block;
    float: left;
    vertical-align: top;
}

.kundenverwaltung-new #type label {
    width: 171px;
}

.kundenverwaltung-new .param input {
    width: 368px;
}

.kundenverwaltung-new .param textarea {
    width: 372px;
}

.kundenverwaltung-new .view-param input {
    width: 316px;
}

.kundenverwaltung-new .view-param textarea {
    width: 320px;
}

.kundenverwaltung-new .param-header {
    font-weight: bold;
}

.kundenverwaltung-new .buttons {
    float: right;
    margin-top: 10px;
}


/*----------------------------------------------------------------------------------------------
    Find kunde in create formular
----------------------------------------------------------------------------------------------*/

#findkunde-page{
    width: 250px;
}

#findkunde-page label{
    display: block;
    font-weight: bold;
    padding-bottom: 4px;
}

#findkunde-page input[type=submit]{
    margin-left: 25px;
}

#findkunde-page .error{
    color: red;
    padding-bottom: 4px;
}

/*-------------------------------------------------------------------------------------------
    Formulars
-------------------------------------------------------------------------------------------*/

.reservierung-page .formular-header{
    width: 100%;
    .border-radius(4px);
    background: #f5f5f5;
    border: 1px solid #d3d3d3;
    padding: 7px 15px;
    margin: -15px auto 25px auto;
}

.reservierung-page .formular-header .left-block{
    float: left;
    width: 50%;
}

.reservierung-page .formular-header .right-block{
    float: right;
}

.reservierung-page .formular-header .param{
    margin-bottom: 4px;
}

.reservierung-page .formular-header .param .param-name{
    font-size: 12px;
    font-weight: bold;
    width: 110px;
    display: inline-block;
}

.reservierung-page .formular-content .param{
    margin-bottom: 10px;
}

.reservierung-page .formular-content .param label.param-name{
    display: inline-block;
    margin-right: 10px;
    width: 120px;
    border-right: 1px solid #cfcfcf;
    vertical-align: top;
    float: left;
}

.reservierung-page .formular-content .param-block input[type=text],
.reservierung-page .formular-content .param-block select,
.reservierung-page .formular-content .param-block textarea{
    width: 400px;
}

.reservierung-page .formular-buttons{
    margin-top: 15px;
}

.reservierung-page #hoteltype, .reservierung-page #manueltype{
    .buttonset-height(22px);
    margin-right: 10px;
}

/*--------------------------------------------------------------------------------------------
    Formular create
--------------------------------------------------------------------------------------------*/

#createformular-page .block-preview button{
    float: right;
}

#createformular-page .block-preview p.text{
    float: left;
    width: 70%;
}

#createformular-page{
    width: 800px;
}

#createformular-page .changetype-block{
    width: 390px;
    margin: 0 auto;
}

#createformular-page .changetype-block .type-edit{
    margin-top: 20px;
}

#createformular-page .changetype-block .type-edit label{
    margin-top: 10px;
}

#createformular-page .changetype-block .type-edit textarea{
    width: 375px;
    height: 150px;
}

#createformular-page .changetype-block .bottom-block{
    margin-top: 10px;
}

#createformular-page p.error{
    float: left;
    width: 295px;
}

#createformular-page .changetype-block button{
    float: right;
    margin: 0 14px 0 0;
}

#createformular-page #flight-window{
    background: none repeat scroll 0 0 #FFFEF0;
    border: 1px solid #E6E6E6;
    height: 200px;
    left: 793px;
    position: absolute;
    top: 167px;
    width: 400px;
    display: none;
    overflow: scroll;
    padding: 5px 20px;
}

#createformular-page #flight-window .header{
    font-size: 17px;
    text-align:center;
}

#createformular-page #flight-window .text{
    margin-top: 20px;
}

#createformular-page .formular-content #intro-page{
    margin-bottom: 20px;
}

#createformular-page .formular-content #intro-page .input{
    width: 150px;
    float: left;
}

#createformular-page #flugpage{
    margin-top: 20px;
}

#createformular-page #flugpage #flightplan{
     height: 170px;
     width: 680px;
}

#createformular-page #flugpage label{
    margin-top: 10px;
}

#createformular-page #item-list .hotel, #createformular-page #item-list .manuel{
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    padding: 15px 0;
}


/*-------------------------------------------------------------------------------------------------------
    Final page
-------------------------------------------------------------------------------------------------------*/

#final-page .mail-block .mail{
    margin-top: 10px;
}

/*-------------------------------------------------------------------------------------------------------
   Kunde historie
-------------------------------------------------------------------------------------------------------*/

#kundenverwaltung-historie.content{
    width: 700px;
}

#kundenverwaltung-historie .kunde-view .block{
    border: 1px solid black;
    padding: 5px;
}

#kundenverwaltung-historie .kunde-view .block .header{
    display: block;
    border-bottom: 1px dotted #888;
    margin: 5px 0;
    padding-bottom: 5px;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
}

#kundenverwaltung-historie .kunde-view .address{
    float: left;
    width: 300px;
}

#kundenverwaltung-historie .kunde-view .kundeperson{
    float: right;
    width: 350px;
}

#kundenverwaltung-historie .kunde-view .provision{
    font-weight: bold;
    margin: 10px 0;
}

#kundenverwaltung-historie .kunde-view .about{
    margin: 15px 0;
}

#kundenverwaltung-historie .edit-button{
    float: right;
}

#kundenverwaltung-historie .kunde-list{
    width: 100%;
    margin: 20px 0;
}

#kundenverwaltung-historie .kunde-list td{
    border-bottom: 1px solid black;
    padding: 5px 0;
}

#kundenverwaltung-historie .kunde-list .view-link{
    color: #444444;
}