.content {
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 30px;
    border: 1px dotted gray;
}

.input {
    float: left;
    margin-right: 20px;
}

.input label {
    display: block;
    font-weight: bold;
}

.input.personen {
    display: block;
    float: none;
}

.person span {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

input:focus {
    border: 1px solid red;
}

#date-wr label {
    float: left;
}

#flightplan {
    width: 415px;
    height: 120px;
}

#hotelname {
    font-size: 15px;
}

#page2, #page3 {
    margin-top: 10px;
}

#resultpage .number {
    margin: 0 8px 0 -20px;
}

#resultpage {
    width: 800px;
    margin: 0 auto;
}

#resultpage #flightplan-wr {
    float: left;
    border: 1px solid black;
    width: 350px;
    padding-left: 20px;
}

#resultpage #results-wr {
    padding-left: 20px;
    border: 1px solid black;
    width: 780px;
    margin-bottom: 10px;
}

#resultpage #results {
    margin-bottom: 10px;
    margin-top: -14px;
}

#resultpage .mail-wr {
    margin-top: 20px;
    margin-bottom: 20px;
}

#resultpage .price_title {
    display: inline-block;
    width: 140px;
}

#resultpage #priceresult {
    float: right;
    border: 1px solid black;
    width: 350px
}

#resultpage .personresult-wr {
    margin-bottom: 10px;
}
#stage-wr{margin-top: 10px;}

.manuel-wr, .hotel-wr {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
}

#buttons, #hotel-buttons, #result-buttons {
    margin-top: 10px;
}

#buttons button:focus, #hotel-buttons button:focus, #result-buttons button:focus, #final-buttons button:focus {
    background-color: #3C84A1;
}

.hiddentext {
    display: none;
}


.agency-list{
    width: 100%;    
    margin: 0 auto;
    clear: both;
}

.add-button-wr{
    clear: both;
}

.add-button-wr button{
    float: right;
}

.agency-list .btn.btn-small{
    height: 19px;
    line-height: 6px;
    margin-right: 3px;
}
.agency-list td{
    padding: 5px 0;
}

.agency-item{
    width: 510px;
    margin: 0 auto;
}
.agency-item .param, .agency-item .view-param{
    margin-top: 10px;
    clear: both;
}
.agency-item .param input[name=plz]{width: 45px;}
.agency-item .param input[name=ort]{width: 306px;}

.agency-item .param label, .agency-item .view-param label{
    font-weight: bold;
    width: 131px;
    display: block;
    float: left;
    vertical-align: top;
}
.agency-item #type label{
    width: 171px;
}
.agency-item .param input{width: 368px;}
.agency-item .param textarea{width: 372px;}

.agency-item .view-param input{width: 316px;}
.agency-item .view-param textarea{width: 320px;}

.agency-item #kunden-block{display:none;}


.agency-item .buttons{
    float: right;
    margin-top: 10px;
    width: 150px;
}

.agency-item .view-param span{
    width: 320px;
    float: left;
    display: block;
}

.agency-item .view-param button{
    float: left;
    margin-left: 5px;
}

.agency-item .edit-button{
    height: 21px;
    line-height: 10px;
}

.agency-item .view-param input[type=text], .agency-item .view-param textarea{
    display: none;
    float: left;
}

.agency-item .agency-params{
    margin-bottom: 15px;
}
