*{
    margin: 0;
}

body, html{
    height: 100%;
}

#wrapper{
    margin: 0 auto;
}

.content-wr{
    width: 900px;
    margin: 0 auto;
}


/* --------------------------------------------------------------
  Footer
-------------------------------------------------------------- */
#footer {
    background: #333;
    width: 100%;
    height: 4em;
}

#footer p{padding-top: 15px;}

*+html #footer {
    float: left;
}

#footer .content_pad {
    font-size: 11px;
    color: #FFF;
    text-align: center;
}

#footer .content_pad a {
    color: #FFF;
}

#footer .author-link{
    text-decoration: none;
    font-weight: bold;
}

/* --------------------------------------------------------------
  Nav
-------------------------------------------------------------- */
#nav {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#nav li {
    background: #333 url(../images/el_bg.png) repeat-x 0 0;
    border: 1px solid #222;
    border-bottom: none;
    list-style-type: none;
    float: left;
    margin: 0 .1em;
    position: relative;
}

#nav a {
    height: 20px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 8px 15px 8px 15px;
    position: relative;

    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.content {
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 30px;
}

.left-float{float:left;display: block;}
.right-float{float:right;display: block;}

.bold {
    font-weight: bold;
}

.input {
    float: left;
    margin-right: 20px;
}

.input label {
    display: block;
    font-weight: bold;
}

.input.personen {
    display: block;
    float: none;
}

.person span {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

input:focus {
    border: 1px solid red;
}

#date-wr label {
    float: left;
}

#flightplan {
    width: 415px;
    height: 120px;
}

#hotelname {
    font-size: 15px;
}

#page2, #page3 {
    margin-top: 10px;
}

#resultpage .number {
    margin: 0 8px 0 -20px;
}

#resultpage {
    width: 800px;
    margin: 0 auto;
}

#resultpage #flightplan-wr {
    float: left;
    width: 350px;
    padding-left: 20px;
}

#resultpage #results-wr {
    padding-left: 20px;
    width: 780px;
    margin-bottom: 10px;
}

#resultpage #topinfo {
    width: 780px;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#resultpage #topinfo .param{
    font-weight: bold;
}

#resultpage .block {
        border: 1px solid black;
}

#resultpage #results {
    margin-bottom: 10px;
    margin-top: -14px;
}

#resultpage .mail-wr {
    margin-top: 20px;
    margin-bottom: 20px;
}

#resultpage .price_title {
    display: inline-block;
    width: 140px;
}

#resultpage #priceresult {
    float: right;
    border: 1px solid black;
    width: 350px
}

#resultpage .personresult-wr {
    margin-bottom: 10px;
}

#stage-wr {
    margin-top: 10px;
}

#stage {
  
    float: left;
}

#stage-wr button {
    float: right;
}

#stage-wr label.stage-header {
    float: left;
    width: 100%;
}

.manuel-wr, .hotel-wr {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
}

#buttons, #hotel-buttons, #result-buttons {
    margin-top: 10px;
}

#buttons button:focus, #hotel-buttons button:focus, #result-buttons button:focus, #final-buttons button:focus {
    background-color: #3C84A1;
}

.hiddentext {
    display: none;
}

.agency-list {
    width: 100%;
    margin: 0 auto;
    clear: both;
}

.add-button-wr {
    clear: both;
}

.add-button-wr button {
    float: right;
}
.agency-list a.btn-small{
    height: 18px;
    line-height: 18px;
}
.agency-list td {
    padding: 5px 0;
}

.agency-item {
    width: 510px;
    margin: 0 auto;
}

.agency-item .param, .agency-item .view-param {
    margin-top: 10px;
    clear: both;
}

.agency-item .param input.plz {
    width: 55px;
}

.agency-item .param input.ort {
    width: 296px;
}

.agency-item .param input[type=radio] {
    width: auto !important;
}

.agency-item .param label, .agency-item .view-param label {
    font-weight: bold;
    width: 131px;
    display: block;
    float: left;
    vertical-align: top;
}

.agency-item #type label {
    width: 171px;
}

.agency-item .param input {
    width: 368px;
}

.agency-item .param textarea {
    width: 372px;
}

.agency-item .view-param input {
    width: 316px;
}

.agency-item .view-param textarea {
    width: 320px;
}

.agency-item #kunden-block {
    display: none;
}

.agency-item .param-header {
    font-weight: bold;
}

.agency-item .buttons {
    float: right;
    margin-top: 10px;
    width: 150px;
}

.agency-item .view-param span {
    width: 320px;
    float: left;
    display: block;
}

.agency-item .view-param button {
    float: left;
    margin-left: 5px;
}

.agency-item .edit-button {
    height: 21px;
    line-height: 10px;
}

.agency-item .view-param input[type=text], .agency-item .view-param textarea {
    display: none;
    float: left;
}

.agency-item .agency-params {
    margin-bottom: 15px;
}

#agency-all td.kundennummer {
    padding-left: 5px;
}

.agency-item .block {
    border: 1px solid black;
}

.agency-item .block span.header {
    border-bottom: 1px solid black;
    padding: 2px 5px;
    display: block;
    font-weight: bold;
}

.agency-item .block .agencyblock-content {
    min-height: 50px;
    padding: 3px 3px;
}

.agency-item .topinfo .block .agencyblock-content {
    min-height: 102px;
}

.agency-item .address {
    float: left;
    width: 250px;
}

.agency-item .agencyperson {
    float: right;
    width: 250px;
}

.agency-item .comment {
    clear: both;
    margin-top: 10px;
}

.agency-view {
    margin-bottom: 25px;
}

.agency-item .edit-button-wr {
    float: right;
    margin: 10px 2px 20px;
}