#header{
    width: 792px;
    height: 285px;
    background: url('img/pdf-header.jpg') no-repeat;
}

#footer{
    width: 792px;
    height: 117px;
    background: url('img/pdf-footer.jpg') no-repeat;
}

#content{
    padding: 0 30px;
    width: 712px;
    font-size: 12px;
}
h1{
    font-size: 13px;
    padding-left: 3px;
}

#page{
    width: 760px;
}

.vorgansnummer-wr{
    margin-top: 10px;
    border: 1px solid black;
    padding: 2px 3px 2px 5px;
    width: 704px;
}
.vorgansnummer-wr .left{float: left;width: 300px;}
.vorgansnummer-wr .left .header{float: left; width: 120px;}
.vorgansnummer-wr .nummer{padding-left: 25px;}
.vorgansnummer-wr .right{float:right;width: 220px;}
.vorgansnummer-wr .right div{
    text-align: right;
}

.mainblock{
    width: 667px;
    padding: 4px 5px 20px 40px;
    border: 1px solid black;
    margin-top: 12px;
}
.mainblock .header{
    display: block;
    font-size: 15px;
    text-decoration: underline;
}
.mainblock .persons{

    min-height: 90px;
}
.mainblock .persons h2{margin-bottom: 18px;}
.mainblock .person{
    margin-bottom: 3px;
    clear: both;

}
.mainblock .person div{
    float: left;
}
.mainblock .person .num{width: 35px;}
.mainblock .person .sex{width: 50px;}

.mainblock .tours{
    min-height: 75px;
    margin-top: 10px;
}
.mainblock .tours h2{margin-bottom: 3px;}
.mainblock .tour .date{width: 130px;}
.mainblock .tour div{float: left;}

.mainblock .flugplan{
    min-height: 210px;
    margin-top: 10px;
}
.mainblock .flugplan h2{margin-bottom: 15px;}

.mainblock .price-wr{
    font-weight: bold;
    margin-top: 10px;
}
.mainblock .price-wr .price{margin-left: 30px;}


.priceblock{
    width: 100%;
    margin-top: 32px;
    text-align: right;
    text-decoration: underline;
}
.priceblock .price{
    font-weight: bold;
    margin-left: 4px;
}

.bottomblock{
    font-size: 13px;
    margin-top: 20px;
}
.bottomblock p{margin-bottom: 10px;}
.bottomblock .signature{
    width: 100%;
    margin-bottom: 20px;
}
.bottomblock .signature .line{
    float:right;
    height: 1px;
    border-bottom: 1px solid black;
    margin: 13px 5px 0 0;
    width: 200px;
}