table, div, span, p, h1, h2, h3{
    font-size: 14px;
    font-family: "Arial";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
}

.header{
    width: 712px;
    height: 180px;
    padding: 0 30px;
    margin: 0 auto;
}

.header .info{
    padding-top: 120px;
}


.content{
    width: 712px;
    padding: 0 30px;
    margin: 0 auto 0 auto;
}

h1{
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 0;
}

h2{
    display: block;
    text-align: center;
    font-size: 13px;
    margin:0;
}

h3{
    margin: 0;
    font-size: 13px;
    padding: 0 0 3px 3px;
}

.top-block{
    border: 1px solid black;
    width: 100%;
    margin-top: 5px;
}

.top-block .left-paramname{
    width: 146px;
}

.top-block .left-paramvalue{
    width: 111px;
    background: #daedf3;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.top-block .left-paramvalue.last{border-bottom: 0;}

.top-block .right-paramname{
    padding-left: 96px;
    width: 109px;
}

.top-block .right-paramvalue{
    width: 155px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background: #daedf3;
}


.main-block{
    width: 710px;
    border: 1px solid black;
    padding: 2px 0 0 0;
    margin: 20px 0;
}

.main-block .block{
    margin-top: 5px;
}
.main-block .block.first{margin-top: 0;}

.reiseteilnehmer-table{
    width: 100%;

}

.reiseteilnehmer-table .num{
    width: 77px;
    text-align: right;
}

.reiseteilnehmer-table .sex{
    width: 98px;
    text-align:right;
    text-transform: uppercase;
}

.reiseteilnehmer-table .person-name{
    background: #dce6f0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.reisezeitraum-table{
    margin-left: 174px;
}

.reisezeitraum-table td{
    background: #dce6f0;
    width: 110px;
    border: 1px solid black;
}

.reisezeitraum-table td.center{
    text-align: center;
}

.liestung-table{
    width: 100%;
}

.liestung-table .num{
    padding-left: 67px;
    width: 174px;
}

.liestung-table .text{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background: #dce6f0;
}


.flight-plan{
    width: 100%;
    background: #dce6f0;
    border-top: 1px solid black;
}

.flight-plan pre{margin: 0;}


.price-table{
    float: right;
    width: 301px;
}

.price-table table{
    border: 1px solid black;
}

.price-table td{
    background: #dce6f0;
    text-align: right;
    border-right: 1px solid black;
}

.price-table td.paramname{
    width: 180px;
}

.price-table td.paramvalue{
    width: 120px;
}

.price-table tr.bold td{
    font-weight: bold;
    font-size: 18px;
}

.price-table tr.underline td{
    border-bottom: 1px solid black;
}

.price-table tr.green td{
    background: #daedf3;
}

.price-table tr.empty td{
    background: #ffffff;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.storeno-price-table{
    float: right;
    width: 400px;
}

.storeno-price-table td{
    width: 200px;
}

.storeno-price-table td.paramname{
    text-align: left;
}

.storeno-price-table td.paramvalue{
    text-align: center;
    border: 1px solid black;
    background: #dce6f0;
}

.anzahlung-block{
    float: left;
    width: 400px;
}

.anzahlung-block p{
    margin: 0 0 10px 0;
}

.bottom-text{
    clear: both;
    margin-top: 20px;
}

.signature{
    margin: 60px 0 0 0;
    clear: both;
}

.signature .text{
    float: left;
    width: 355px;
}

.signature .line{
    border-bottom: 1px solid black;
    height: 2px;
    float: left;
    padding-top: 14px;
    width: 180px;
}