<table id="agency-all" class="agency-list">
    <thead>
    <th width="60%">Name</th>
    <th>City</th>
    <th>Phone</th>
    <th width="50px">Edit</th>
    </thead>
    <tbody>
    {foreach $agency_list as $agency_item}
    <tr agency_id="{$agency_item.id}">
    <td class="name"><a href="agency.php?view&id={$agency_item.id}">{$agency_item.name}</a></td>
    <td class="city">{$agency_item.city}</td>
    <td class="phone">{$agency_item.phone}</td>
    <td>
        <button class="btn btn-small btn-blue edit-button">Edit</button>
    </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<div class="add-button-wr">
    <button class="btn btn-small btn-blue" id="add_agency-button">Add agency</button>
</div>
