<div class="agency-item">
    <div class="agency-params">
        {if $agency.type eq 'agency'}
        <div class="view-param">
            <label for="name">Firmenname</label>
            <span id="name">{$agency.name}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="address">Adresse</label>
            <span id="address">{$agency.address}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="zipcode">PLZ / Ort</label>
            <span id="zipcode">{$agency.plz} / {$agency.ort}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="city">Stadt</label>
            <span id="city">{$agency.city}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="website">Web-Seite</label>
            <span id="website">{$agency.website}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="contactperson">Ansprechpartner</label>
            <span id="contactperson">{$agency.contactperson} {$agency.surname} - {$agency.sex}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="email">E-Mail Adresse</label>
            <span id="email">{$agency.email}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="phone">Telefon</label>
            <span id="phone">{$agency.phone}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="fax">Fax</label>
            <span id="fax">{$agency.fax}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="provision">Provision Prozent</label>
            <span id="provision">{$agency.provision}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="comment">Comment</label>
            <span id="comment">{$agency.comment}</span>
            <br class="clear"/>
        </div>
        {else}
        <div class="view-param">
            <label for="name">Titel</label>
            <span id="name">{$agency.contactperson}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="address">Name</label>
            <span id="address">{$agency.name}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="zipcode">Vorname</label>
            <span id="zipcode">{$agency.surname}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="city">Stadt</label>
            <span id="city">{$agency.city}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="website">Strasse, Hausnummer</label>
            <span id="website">{$agency.address}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="zipcode">PLZ / Ort</label>
            <span id="zipcode">{$agency.plz} / {$agency.ort}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="phone">Telefon</label>
            <span id="phone">{$agency.phone}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="fax">Fax</label>
            <span id="fax">{$agency.fax}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="email">E-Mail Adresse</label>
            <span id="email">{$agency.email}</span>
            <br class="clear"/>
        </div>
        <div class="view-param">
            <label for="comment">Comment</label>
            <span id="comment">{$agency.comment}</span>
            <br class="clear"/>
        </div>
        {/if}
    </div>
    <table class="agency-list" id="agency-formulars">
        <thead>
        <th>Vorgangsnummer</th>
        <th>Rechnungsnummer</th>
        <th>Date created</th>
        <th>View</th>
        </thead>
        {foreach $agency.formulars as $formular}
        <tr>
            <td class="v_num">{$formular.v_num}</td>
            <td>{$formular.r_num}</td>
            <td>{$formular.date}</td>
            <td width="50px">
                <button class="btn btn-small btn-blue view-button">View</button>
            </td>
        </tr>
        {/foreach}
    </table>
    <input type="hidden" name="agency_id" value="{$agency.id}" id="agency_id" />
    <div class="add-button-wr">
        <button class="btn btn-small btn-blue" id="add_formular-button">Add Formular</button>
    </div>
</div>

