<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Dashboard | Dashboard Admin</title>

    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="css/text.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="css/form.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="css/buttons.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="css/layout.css" type="text/css" media="screen" title="no title"/>

    <link rel="stylesheet" href="css/main.css" type="text/css"/>
    <link rel="stylesheet" href="css/print.css" type="text/css" media="print"/>
    <script src="js/jquery/jquery-1.6.4.min.js"></script>
    <script src="js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/final.js"></script>
    <script src="js/misc/excanvas.min.js"></script>
    <script src="js/jquery/facebox.js"></script>
    <script src="js/jquery/jquery.visualize.js"></script>
    <script src="js/jquery/jquery.dataTables.min.js"></script>
    <script src="js/jquery/jquery.tablesorter.min.js"></script>
    <script src="js/jquery/jquery.uniform.min.js"></script>
    <script src="js/jquery/jquery.placeholder.min.js"></script>
    <script src="js/widgets.js"></script>

    <link rel="stylesheet" href="css/cupertino/jquery-ui-1.8.16.custom.css" type="text/css" media="screen"
          title="no title"/>
    <link rel="stylesheet" href="css/plugin/jquery.visualize.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="css/plugin/facebox.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="css/plugin/uniform.default.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="css/plugin/dataTables.css" type="text/css" media="screen" title="no title"/>

    <link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" title="no title">

</head>

<body>

<div id="wrapper">

    <div id="top">
        <div class="content_pad">
            <ul class="right">
                <li><a href="javascript:;" class="top_icon"><span class="ui-icon ui-icon-person"></span>Eingeloggt als {$user.fullname}</a></li>
                <!--	<li><a href="javascript:;" class="new_messages top_alert">1 New Message</a></li>-->
                <li><a href="./pages/settings.html">Settings</a></li>
                <li><a href="logout.php">Logout</a></li>
            </ul>
        </div>
    </div>


    <div id="header">
        <div class="content_pad">
            <h1><a href="index.php">Dashboard Admin</a></h1>
            <ul id="nav">
            <li class="nav_icon nav_current"><a href="#">New formular</a></li>
            <li class="nav_icon"><a href="./open.php">Open formular</a></li>
            </ul>
        </div>
    </div>


    <div id="masthead">
        <div class="content_pad">
            <h1 class="no_breadcrumbs">Reisengebot Formular</h1>
        </div>
    </div>

    <form action="index.php?step=finish&vorgan={$id}" method="POST">
        <div class="page" id="resultpage">
            <div id="resultcontent">
                <div id="results-wr">
                    <span class="number">1</span>

                    <div id="results">
                        {foreach from=$hotels item=hotel}
                        {$hotel.datestart} - {$hotel.dateend} {$hotel.dayscount}N HOTEL: {$hotel.hotelname} /
                        {$hotel.roomcapacity} / {$hotel.roomtype} / {$hotel.service} / {$hotel.transfer} /
                        {$hotel.remark}
                        <br/>
                        {/foreach}
                        {if $manuels}

                        {foreach $manuels as $manuel}
                        {$manuel.datestart} - {$manuel.dateend} {$manuel.text}
                        <br/>
                        {/foreach}
                        {/if}
                    </div>
                </div>
                {if $flightplan.content neq ''}
                <div id="flightplan-wr">
                    <span class="number">2</span>
                    <span>Flightplan</span>&nbsp;<b>{$flightplan.price}&euro;</b><br/><br/>
                    <pre class="flightplan">{$flightplan.content}</pre>
                </div>
                {/if}
                <div id="priceresult">
                    <input type="hidden" name="priceperson"/>
                    <span class="price_title">Preis p.P brutto:</span><span
                        id="oneprice">{$price.person}</span> &euro;<br/>
                    <span class="price_title">Gesamtpreis brutto:</span><span
                        id="gesamtpreis">{$price.brutto}</span> &euro;<br/>
                    <span class="price_title">Provision:</span><span
                        id="provision">{$price.provision}</span> &euro;<br/>
                    <span class="price_title">19 % Mwst:</span><span
                        id="percent">{$price.percent}</span> &euro;<br/><br/>
                    <span class="price_title">Gesamtpreis netto:</span><span
                        id="netto">{$price.netto}</span> &euro;<br/>
                </div>
                <br class="clear"/>

                <div class="comment-wr">
                    <h3>Comment</h3>

                    <p>{$bigcomment}</p>
                </div>
                <div id="persons-wr">
                    <h3>Persons:</h3>
                    {foreach $persons as $ind=>$person}
                    {$ind + 1} - {$person.name} ({$person.sex})<br/>
                    {/foreach}
                    <br/><br/>
                </div>

                <div id="address-wr">
                    <h3>{if $type eq 'K'}Kundenadresse{else}Agenturadresse{/if}</h3>

                    <p>{$address}</p>
                </div>
                <div id="anzahlung-wr">
                    <span>Anzahlung: {$price.anzahlung} %</span>
                </div>
                <div id="abreisedatum-wr">
                    <span>Abreisedatum: {$abreisedatum}</span>
                </div>

                <div id="stage-wr">
                    <label for="stage">Stage</label>
                    <div id="stage">
                        <input type="radio" id="radio1" name="stage" value="1" {if $stage eq 1}checked="checked"{/if}/><label for="radio1">Angebot</label>
                        <input type="radio" id="radio2" name="stage" value="2" {if $stage eq 2}checked="checked"{/if}/><label for="radio2">Eingangsmitteilungen</label>
                        <input type="radio" id="radio3" name="stage" value="3" {if $stage eq 3}checked="checked"{/if}/><label for="radio3">Rechnungen</label>
                    </div>
                </div>

                <div class="mail-wr">
                    <div class="mail" style="display:none">
                        <span>Mail</span>
                        <input type="text" size="30" class="email"/>
                        <span class="good" style="display:none;">OK</span>
                    </div>
                </div>
            </div>
            <input type="hidden" id="vorgan" name="vorgan" value="{$id}"/>

            <div id="final-buttons">
                <button class="btn btn-small btn-blue" id="edit-button">Edit Formular</button>
                <button class="btn btn-small btn-blue" id="addmail-button">Add mail</button>
                <button class="btn btn-small btn-blue" id="druck-button">Druck</button>
                <button class="btn btn-small btn-blue" id="close-button" name="submit">Send & Close</button>
            </div>
        </div>
    </form>


    <div id="footer">
        <div class="content_pad">
            <p>&copy; 2010-11 Copyright <a href="#">goUnique</a>. Powered by <a href="#">UniqueWorld.de</a>.</p>
        </div>
    </div>
</body>

</html>